:host {
  height: 100%;
  display: block;
  // display: flex;
  // flex-direction: column;

  .info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .info-is-mobile .info-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    align-items: center;

    object {
      display: flex;
    }
  }

  h1.info-app-name {
    margin-left: 8px;
  }

  .info-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .info-list-title {
    display: flex;
    margin: 12px 0 -12px;
  }

  .info-tab-group {
    max-height: calc(100vh - 56px);
  }

  .info-is-mobile .info-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
}
