@import './scss/variables';
@import './scss/dropdown';
@import './scss/animations';
@import './scss/layout/flexbox';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Inter:wght@400;500&family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-accent-base: 126;
  --color-primary: 65, 167, 69;
  --color-accent: 62, 211, 61;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-warn: 236, 216, 63;
  --card-background-color: 33, 33, 52;
  --body-text-size-small: 1rem;
  --body-text-color-primary: 255, 255, 255;
  --fieldset-border-width: 2px;
  --fieldset-border-color: rgb(var(--color-accent));
  --fieldset-border-color-error: 236, 63, 63;
  --fieldset-border-color-warn: 236, 216, 63;
  --fieldset-background-color: rgba(0, 0, 0, 0.8);
  --form-control-background-color: rgba(255, 255, 255, 0.08);
  --form-control-outline-color: rgba(var(--color-primary), 0.4);

  --background-node-streak: #33977216;
  --visual-distortion-zapper: 360px;
  --nano-velocity: 2s;

  --background-solid-light-neutral: rgba(var(--color-white), 0.06);
  --background-solid-dark-neutral: rgba(var(--color-black), 0.9);
  --backdrop-background-color: rgba(var(--color-black), 0.8);

  --background-linear-gradient-accent: linear-gradient(
    180deg,
    hsl(var(--color-accent-base), 56%, 58%) 0%,
    hsl(calc(var(--color-accent-base)), 61%, 31%) 100%
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--body-text-color-primary));

  background-image: linear-gradient(
    180deg,
    #112020 0%,
    #05080a 51.56%,
    #112020 100%
  );
}

ul {
  padding-left: 16px;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.warn {
  color: rgba(var(--color-warn), 0.8);
}

.full {
  width: 100%;
}

button,
a.button {
  border: 0;
  display: inline;

  background: rgba(var(--color-primary), 1);

  &.primary {
    background: rgba(var(--color-primary), 1);
  }

  &.neutral {
    background: var(--background-solid-light-neutral);
    border-color: var(--background-solid-dark-neutral);
    border-width: 1px;
    border-style: solid;
  }

  &.dark {
    background: var(--background-solid-dark-neutral);
    border-color: var(--background-solid-light-neutral);
    border-width: 1px;
    border-style: solid;
  }

  &.accent {
    background: rgba(var(--color-accent), 1);
    color: rgba(var(--color-black));
  }

  transition: transform 0.2s ease-in-out;

  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  padding: 10px 20px;
  gap: 10px;

  transition: transform 0.2s ease-in-out;
  backdrop-filter: blur(100px);

  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
}

a .svg-icon,
button .svg-icon {
  width: 24px;
  height: 24px;
}

[hidden] {
  display: none;
}

main {
  header {
    padding: 8px 24px;
    margin-bottom: 24px;
    background-color: rgba(0, 0, 0, 0.2);

    width: calc(100% - 48px);
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 32px;
    }
  }
}

a[title] {
  text-align: center;
  position: relative;
  overflow: hidden;
}

a[title]:hover {
  overflow: visible;
}

a[title]::before {
  top: 0px;
  left: -24px;
  right: -24px;
  z-index: -1;
  opacity: 0;
  color: inherit;
  content: attr(title);
  visibility: hidden;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

a[title]:hover::before {
  visibility: visible;
  font-weight: bolder;
  top: -26px;
  opacity: 1;
}

dialog {
  padding: 0;

  &::backdrop {
    background: rgba(0, 0, 0, 0.4);
  }

  object,
  figure,
  img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &[open] {
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  overflow: hidden;
  perspective: var(--visual-distortion-zapper);
  perspective-origin: 50% 50%;
  z-index: -2;
}

.top-plane {
  width: 200%;
  height: 130%;
  position: absolute;
  bottom: -30%;
  left: -50%;
  background-image: linear-gradient(
      var(--background-node-streak) 2px,
      transparent 2px
    ),
    linear-gradient(to left, var(--background-node-streak) 2px, transparent 2px);
  background-size: 100px 100px, 100px 100px;
  background-position: -1px -1px, -1px -1px;
  transform: rotateX(85deg);
  // animation: planeMoveTop var(--nano-velocity) infinite linear;
}

.bottom-plane {
  @extend .top-plane;
  transform: rotateX(-85deg);
  top: -30%;
  // animation: planeMoveBot var(--nano-velocity) infinite linear;
}

@keyframes planeMoveTop {
  from {
    background-position: 0px -100px, 0px 0px;
  }
  to {
    background-position: 0px 0px, 100px 0px;
  }
}

@keyframes planeMoveBot {
  from {
    background-position: 0px 0px, 0px 0px;
  }
  to {
    background-position: 0px -100px, 100px 0px;
  }
}

@media (max-height: 350px) {
  .wrap {
    perspective: var(--visual-distortion-zapper) - 150;
  }
}

.shine-effect {
  overflow: hidden;
  position: relative;

  &::after {
    background: #fff;
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  &:hover::after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.highlight {
  line-height: 24px;
  font-size: 120%;
  color: rgb(var(--color-accent));
}
