@import './scss/variables';
@import './scss/dropdown';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-primary: 173, 120, 255;
  --color-accent: 62, 211, 61;
  --body-text-size-small: 1rem;
  --body-text-color-primary: 255, 255, 255;
  --fieldset-border-width: 2px;
  --fieldset-border-color: rgb(var(--color-primary));
  --fieldset-border-color-error: rgb(236, 63, 63);
  --fieldset-background-color: rgba(0, 0, 0, 0.8);
  --form-control-background-color: rgba(255, 255, 255, 0.08);
  --form-control-outline-color: rgba(var(--color-primary), 0.4);

  --background-node-streak: #1d1f3c;
  --visual-distortion-zapper: 360px;
  --nano-velocity: 2s;
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  font-family: 'Poppins', sans-serif;
  color: rgb(var(--body-text-color-primary));

  background-image: linear-gradient(
    180deg,
    #191c3a 0%,
    #111121 51.56%,
    #191c3a 100%
  );
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

button {
  background: linear-gradient(
    55.61deg,
    #8c4bff 5.66%,
    rgba(197, 75, 255, 0.79) 101.01%
  );
  padding: 11px 28px;
  border-radius: 4px;
  border-width: 0;

  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;

  &:hover {
    cursor: pointer;
  }
}

a svg,
button svg,
button .svg-icon {
  width: 24px;
  height: 24px;
}

.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  perspective: var(--visual-distortion-zapper);
  perspective-origin: 50% 50%;
  z-index: -1;
}

.top-plane {
  width: 200%;
  height: 130%;
  position: absolute;
  bottom: -30%;
  left: -50%;
  background-image: linear-gradient(
      var(--background-node-streak) 2px,
      transparent 2px
    ),
    linear-gradient(to left, var(--background-node-streak) 2px, transparent 2px);
  background-size: 100px 100px, 100px 100px;
  background-position: -1px -1px, -1px -1px;
  transform: rotateX(85deg);
  animation: planeMoveTop var(--nano-velocity) infinite linear;
}

.bottom-plane {
  @extend .top-plane;
  transform: rotateX(-85deg);
  top: -30%;
  animation: planeMoveBot var(--nano-velocity) infinite linear;
}

@keyframes planeMoveTop {
  from {
    background-position: 0px -100px, 0px 0px;
  }
  to {
    background-position: 0px 0px, 100px 0px;
  }
}

@keyframes planeMoveBot {
  from {
    background-position: 0px 0px, 0px 0px;
  }
  to {
    background-position: 0px -100px, 100px 0px;
  }
}

@media (max-height: 350px) {
  .wrap {
    perspective: var(--visual-distortion-zapper) - 150;
  }
}

.shine-effect {
  overflow: hidden;
  position: relative;

  &::after {
    background: #fff;
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  &:hover::after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
