:host {
  background-image: url('../../../assets/images/ticket.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: clamp(300px, 50vw, 650px);
  aspect-ratio: 222/121;
  display: flex;
  padding: clamp(20px, 2vw, 40px) clamp(40px, 4vw, 72px);

  .cardInfo {
    display: flex;
    flex-direction: column;
  }

  .profile {
    flex: 1;
  }

  .cardInfo p {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: clamp(15px, 2vw, 22px);
    letter-spacing: 2px;
    color: #7e7e97;
  }

  .cardInfo span {
    color: #ffffff;
  }

  .githubInfo {
    display: flex;
    gap: clamp(10px, 1.5vw, 15px);
  }

  .githubInfo img {
    border-radius: 100%;
    width: clamp(50px, 7vw, 92px);
    height: clamp(50px, 7vw, 92px);
  }

  .githubName {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .githubName div {
    display: flex;
    align-items: center;
  }

  .githubName svg {
    width: clamp(15px, 2vw, 22px);
    height: clamp(15px, 2vw, 22px);
    margin: 0 12px 0 0;
  }

  .githubName h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: clamp(15px, 2vw, 22px);
    color: #ffffff;
  }

  .githubName a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: clamp(13px, 1.8vw, 20px);
    color: #7e7e97;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;

    p {
      align-self: center;
      writing-mode: vertical-rl;
      font-family: 'Poppins';
      font-weight: 700;
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      letter-spacing: 0.105em;
      color: #ffffff;
    }
  }

  @media screen and (max-width: 1023px) {
    width: clamp(400px, 50vw, 520px);
    margin: 70px 0 0 0;
  }
}
