$green-palette: (
  50: #e7f9ed,
  100: #c3f0d3,
  200: #9be7b6,
  300: #73dd98,
  400: #55d582,
  500: #37ce6c,
  600: #31c964,
  700: #2ac259,
  800: #23bc4f,
  900: #16b03d,
  A100: #e3ffe9,
  A200: #b0ffc1,
  A400: #7dff99,
  A700: #63ff86,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
