<section class="description">
  <h1>Conferência anual dos desenvolvedores</h1>
  <h2>Faça porte da comunidade neste evento</h2>

  <form action="">
    <input type="email" placeholder="Acompanhe nossa programação" />
    <button type="submit">Registrar</button>
  </form>

  <p>
    Seja o primeiro a ficar por dentro sobre os palestrantes confirmados para o
    dia do evento e atualizações importantes
  </p>
  <p>
    Saiba mais em nosso
    <a href="https://github.com/DeveloperParana" target="_blank">GitHub</a>.
  </p>
</section>
<section confs-ticket></section>
