:host {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 130px auto 0;
  align-items: center;

  .description {
    width: clamp(300px, 35vw, 500px);
  }

  .description h1 {
    font: var(--font-poppins-700);
    color: var(--color-white);
  }

  .description h2 {
    margin: 24px 0 50px 0;
    font: var(--font-poppins-400);
    color: var(--color-gray-100);
  }

  .description p {
    margin: 23px 0;
    font: var(--font-inter-400);
    color: var(--color-gray-200);
  }

  .description a {
    text-decoration: none;
    font: var(--font-inter-400);
    color: var(--color-white);
  }

  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px auto 0;
    align-items: center;
  }

  .button {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    backdrop-filter: blur(100px);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -82px 68px -64px rgba(96, 68, 145, 0.3),
      inset 0px 1px 40px rgba(227, 222, 255, 0.2);
    font: var(--font-inter-500);
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      background: rgba(107, 107, 107, 0.548);
    }

    svg {
      width: clamp(15px, 2vw, 24px);
      height: clamp(15px, 2vw, 24px);
    }
  }

  .buttoGithub {
    box-shadow: inset 0px 39px 56px -36px #4a5963,
      inset 0px 7px 11px -4px #4a5963, inset 0px 98px 100px -48px #4a5963,
      inset 0px 4px 18px #4a5963;
  }

  .buttonTwitter {
    box-shadow: inset 0px 39px 56px -36px #1da1f2,
      inset 0px 7px 11px -4px #1da1f2, inset 0px 98px 100px -48px #1da1f2,
      inset 0px 4px 18px #1da1f2;
  }

  .divider {
    margin: 0 12px;
    width: 1px;
    height: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 1023px) {
  :host {
    flex-direction: column;
    align-items: flex-start;
    margin: 70px auto 0;

    .description {
      margin: 0 auto;
      max-width: 768px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .description h1 {
      font-size: clamp(2rem, 6vw, 2.7rem);
    }

    .ticket-container {
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto;
      width: 100%;
      flex: 1;
    }

    .buttonsContainer {
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 30px 0 30px 30px;
    }

    .buttonsContainer {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  :host {
    .ticket-container {
      flex-direction: column-reverse;
    }

    .buttonsContainer {
      flex-direction: row;
      margin: 30px 0;
      padding: 0;
    }

    .button {
      font-size: clamp(0.69rem, 2vw, 1rem);
    }
  }
}

@media screen and (max-width: 480px) {
  :host {
    margin: 50px auto 0;

    .description,
    .buttonsContainer,
    .button {
      width: 100%;
    }

    .description h1 {
      font-size: clamp(1.5rem, 7vw, 2.7rem);
    }

    .description h2,
    .description p {
      font-size: clamp(0.8rem, 4.2vw, 1rem);
    }

    .description h2 {
      margin: 24px 0 24px 0;
    }

    .buttonsContainer {
      flex-direction: column;
      gap: 30px;
      margin: 30px 0;
    }

    .button {
      padding: 16px;
      font-size: 0.8rem;
      justify-content: center;
    }
  }
}
