:host {
  height: 70px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 0 1rem;

  img {
    height: 70px;
    width: 300px;
  }

  p {
    height: 35px;
    width: 250px;
    color: #fff;
    font: 700 20px/35px 'poppins', sans-serif;
    text-align: center;
    background: linear-gradient(
      347.16deg,
      #8c4bff 8.18%,
      rgba(197, 75, 255, 0.79) 114.87%
    );
    position: absolute;
    right: 16px;
    bottom: -17px;
    transform: skew(-10deg);
  }
}

@media screen and (max-width: 768px) {
  :host {
    p {
      bottom: -30px;
    }
  }
}
