/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  //fonts
  --font-poppins-700: 700 clamp(2rem, 3.1vw, 2.7rem) 'Poppins', sans-serif;
  --font-poppins-400: 400 17px 'Poppins', sans-serif;
  --font-inter-400: 400 16px 'Inter', sans-serif;
  --font-inter-500: 500 clamp(0.6rem, 1.3vw, 1rem) 'Inter', sans-serif;

  //colors
  --color-white: #ffffff;
  --color-gray-100: #a5a5ba;
  --color-gray-200: #8e8ea9;
  --color-purple: #ad78ff;
  --color-darkBlue: #111121;
}

html {
  width: 100%;
  background-image: url('./assets/images/top.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #111121;
  background-attachment: fixed;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  background-image: url('./assets/images/bottom.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
